<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

<appender name="general-console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %-6x\t - %X{pid} - %c{2} - %m%n"/>
    </layout>
  </appender>

  <appender name="general-file" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/home/dds/logs/dds.log"/>
    <param name="Append" value="true"/>
    <param name="Threshold" value="INFO"/>

    <!-- Rollover at midnight each day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %-6x\t - %X{pid} - %c{2} - %m%n"/>
    </layout>
  </appender>

  <appender name="async-appender" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="4096"/>
    <appender-ref ref="general-file"/>
  </appender>


  <root>
    <level value="INFO"/>
    <appender-ref ref="async-appender"/>
    <appender-ref ref="general-console"/>
  </root>

</log4j:configuration>
