<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

  <display-name>Java DigiDoc library example</display-name>

   <servlet>
     <servlet-name>jdhello</servlet-name>
     <servlet-class>ee.eesti.id.jdigidoc.example.HelloServlet</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>jdhello</servlet-name>
     <url-pattern>/jdhello</url-pattern>
   </servlet-mapping>
</web-app>
