<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>npesteid.dylib</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0, Copyright 2009 __COMPANY_NAME__.</string>
	<key>CFBundleIdentifier</key>
	<string>org.esteid.npesteid.dylib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0000</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0000</string>
</dict>
</plist>
