<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <add key="pkcs11_library" value="opensc-pkcs11.dll" />
  <add key="debug" value="false" />
  <add key="ocsp_url" value="http://ocsp.sk.ee" />
  <add key="cert_path" value=".\certs" />
  <add key="enable_tsa" value="False" />
  <add key="visible_signature" value="False" />
 </appSettings>
</configuration>