#include "DlgUnit.h"
//
//1  24 MOVEABLE PURE   ".\DlgUnit.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_UNIT DIALOGEX 0, 0, 300, 155
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DigiDoc"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,240,136,50,14
    GROUPBOX        "Downloads:",IDC_GROUPBOX,2,2,296,126
    PUSHBUTTON      "&Cancel",IDCANCEL,180,136,50,14
    CONTROL         "List1",IDC_LISTVIEW,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE |
                    WS_BORDER | WS_TABSTOP,6,12,288,110,WS_EX_CLIENTEDGE
END

