<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.esteid.webplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0, Copyright 2009 __COMPANY_NAME__.</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.$REVISION</string>
	<key>CFBundleVersion</key>
	<string>$REVISION</string>
	<key>NSPrincipalClass</key>
	<string>EstEIDWebService</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/esteid</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>EstEID Module</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>EstEID Plug-in</string>
	<key>WebPluginDescription</key>
	<string>Estonian Electronic Identification Card Plug-in</string>
	<key>EstEIDHelpWebsite</key>
	<string>https://id.eesti.ee/</string>
</dict>
</plist>
